body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px;
}

header nav a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}
